<h1>GetApi example</h1>
<h2>Math</h2>
<ul>
<li><a href="/apicall/math/add?a=2&b=2">adding like /apicall/math/add?a=2&b=2</a></li>
<li><a href="/apicall/math/multiply?a=3&b=3">multiplying like /apicall/math/multiply?a=3&b=3</a></li>
<li><a href="/apicall/math/pow2?a=3">pow2 like /apicall/math/pow2?a=3</a></li>
<li><a href="/apicall/math/pow/10?a=2">pow like /apicall/math/pow/10?a=2</a></li>
</ul>